<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html charset=UTF-8' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <table
      style='width: 500px; height: 500px; background-color: #313131;'
      cellpadding='0'
      cellspacing='0'
    >
      <tr>
        <td align='center'>
          <img
            src='https://i.imgur.com/t9xonMY.png'
            style='width: 150px; height: 150px; display: block;'
          />
        </td>
      </tr>
      <tr>
        <td align='center' style='height: 30px;'>
          <p
            style="font-family: 'Poppins', sans-serif; font-size: 24px; font-weight: 500; color: white; padding: 0; margin: 0;"
          >Olá, {{user}}</p>
        </td>
      </tr>
      <tr>
        <td align='center' style='padding: 0; margin: 0;'>
          <p
            style="font-family: 'Poppins', sans-serif; font-size: 18px; font-weight: 300; width: 90%; color: white; padding: 0; margin: 0;"
          >Foi solicitada a recuperação de senha da sua conta no aplicativo Pick
            a Pal. Clique no botão abaixo para ser redirecionado ao aplicativo e
            recuperar sua conta.</p>
        </td>
      </tr>
      <tr>
        <td align='center' style='height: 100px; padding: 0; margin: 0;'>
          <a
            href='http://10.0.0.105:19000?token={{token}}&user={{user}}'
            style='background: #d9d9d9; border-radius: 50px; text-align: center; text-decoration: none; display: block; width: 88%; height: 50px; color: #313131; font-size: 16px; line-height: 50px; padding: 0; margin: 0;'
          >
            Recuperar senha
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>